[submodule "MVVM.Core"]
	path = MVVM.Core
	url = https://github.com/aliagamon/MVVM.Core.git
[submodule "MVVM.Binding"]
	path = MVVM.Binding
	url = https://github.com/aliagamon/MVVM.Binding.git
[submodule "MVVM.Extentions"]
	path = MVVM.Extentions
	url = https://github.com/aliagamon/MVVM.Extentions.git
[submodule "MVVM.Extention"]
	path = MVVM.Extention
	url = https://github.com/aliagamon/MVVM.Extention.git
